<script type="module" src="js/modaleJonction.js"></script>
<dialog id="modaleJonction" style="user-select: none">
<img src="images/i-exit.svg" style="position: absolute; top: 0; right: 0; margin: 5px; width: 24px; background-color: #fff; cursor: pointer"
     onclick="document.getElementById('modaleJonction').close()">
<h1></h1>
<span id="messageErreurJonction">&nbsp;</span>
<div id="jonction" class="g">
  <div id="jonctionDisponibles"></div>
  <div id="jonctionPris"></div>
</div>  
</dialog>